:root {
  --main-bg-color: rgb(34 39 91);
  --bg-structure: #dadada;
  --second-bg-color: rgb(43 50 112);
  --second2-bg-color: rgb(43 50 112);
  --notice-bg-color: #fffbe8;
  --color-black: #000;
  --color-black2: #303133;
  --color-white: #fff;
  --color-gray: #959595;
}
.dailyProfitRank[data-v-84514e8e] {
    color: #fff;
    margin-top: .53333rem;
    /* background-color: blueviolet; */
   
}

.dailyProfitRank .title[data-v-84514e8e] {
    height: 2rem;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 1.33333rem;
    color: #fd9501;
}
.dailyProfitRank[data-v-84514e8e] .title b:before {
  content: "";
  position: absolute;
  top: 50%;
  left: 0;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  width: 0.08rem;
  height: 0.4rem;
  background: #759fde;
}
.dailyProfitRank .title b[data-v-84514e8e] {
    display: block;
    height: 4rem;
    width: .10667rem;
    border-radius: .05333rem;
    background-color: var(--main-color);
    -webkit-margin-end: .13333rem;
    margin-inline-end: .13333rem;
}

.dailyProfitRank__content[data-v-84514e8e] {
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    margin-top: 4rem;
}

.dailyProfitRank__content-topThree[data-v-84514e8e] {
    position: relative;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-items: center;
    width: 100%;
    height: 7.33333rem;
    z-index: 1;
    background: url(src/assets/images/DailyProfitRankStage-ce00a6d6.png) no-repeat center center / 100% 100%;
}

.dailyProfitRank__content-topThree__item[data-v-84514e8e] {
    position: relative;
    display: -webkit-box;
    display: -webkit-flex;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -webkit-flex-direction: column;
    flex-direction: column;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
    width: 3rem;
    height: 3.46667rem;
}


.dailyProfitRank__content-topThree__item>div:first-of-type>img[data-v-84514e8e] {
    width: calc(100% - .06667rem);
    height: calc(100% - .06667rem);
}
.dailyProfitRank__content-topThree__item>div[data-v-84514e8e]:last-of-type {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 3.78667rem;
  height: 3.82667rem;
}
.dailyProfitRank__content-topThree__item>div:last-of-type img[data-v-84514e8e]:first-of-type {
  position: relative;
    top: -1.53333rem;
    left: -1.0333rem;
    width: 3.14667rem;
}

.dailyProfitRank__content-topThree__item>span[data-v-84514e8e]:first-of-type {
  /* margin-block: 18% 8%; */
  font-size: .82rem;
  width: 5.66667rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

.dailyProfitRank__content-topThree__item>span[data-v-84514e8e] {
  color: #fff;
  padding: 0 .13333rem;
  text-align: center;
}
.dailyProfitRank__content-topThree__item>span[data-v-84514e8e]:last-of-type {
  width: 4.66667rem;
  height: 1.66667rem;
  padding: .27333rem .28667rem;
  font-size: .5rem;
  line-height: .6rem;
  text-align: center;
  border-radius: 9rem;
  background: var(--bgDark, rgba(255, 255, 255, .3));
}
.dailyProfitRank__content-topThree__item>span[data-v-84514e8e] {
  color: #fff;
  padding: 0 .13333rem;
  text-align: center;
}
.dailyProfitRank__content-topThree__item[data-v-84514e8e]:nth-child(2) {
  right: .10667rem;
}
.dailyProfitRank__content-topThree__item[data-v-84514e8e] {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 3rem;
  height: 3.46667rem;
}

.dailyProfitRank__content-topThree__item>div[data-v-84514e8e]:first-of-type {
  position: relative;
  display: grid;
  place-items: center;
  width: 3.6rem;
  min-width: 3.6rem;
  height: 3.6rem;
  min-height: 3.6rem;
  border-radius: 50%;
  overflow: hidden;
}

.dailyProfitRank__content-topThree__item>div:first-of-type>img[data-v-84514e8e] {
  width: calc(100% - .06667rem);
  height: calc(100% - .06667rem);
}

.dailyProfitRank__content-topThree__item>div[data-v-84514e8e]:last-of-type {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 3.78667rem;
  height: 3.82667rem;
}

.dailyProfitRank__content-topThree__item>span[data-v-84514e8e] {
  color: #fff;
  padding: 0 .13333rem;
  text-align: center;
}

.dailyProfitRank__content-topThree__item>span[data-v-84514e8e] {
  color: #fff;
  padding: 0 .13333rem;
  text-align: center;
}

.dailyProfitRank__content-topThree__item[data-v-84514e8e]:nth-child(3) {
  left: .16rem;
}
.dailyProfitRank__content-topThree__item[data-v-84514e8e] {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 3rem;
  height: 3.46667rem;
}

.dailyProfitRank__content-topThree__item>div:first-of-type>img[data-v-84514e8e] {
  width: calc(100% - .06667rem);
  height: calc(100% - .06667rem);
}

.dailyProfitRank__content-topThree__item>div[data-v-84514e8e]:last-of-type {
  position: absolute;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  width: 3.78667rem;
  height: 3.82667rem;
}

.dailyProfitRank__content-topThree__item>div:last-of-type img[data-v-84514e8e]:last-of-type {
  width: 3.78667rem;
  height: .82667rem;
}

.dailyProfitRank__content-topThree__item>span[data-v-84514e8e] {
  color: #fff;
  padding: 0 .13333rem;
  text-align: center;
}


.dailyProfitRank__content-topThree__item>span[data-v-84514e8e] {
  color: #fff;
  padding: 0 .13333rem;
  text-align: center;
}

.dailyProfitRank__content-list[data-v-84514e8e] {
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  gap: .21333rem;
  width: 100%;
}

.dailyProfitRank__content-list__item[data-v-84514e8e] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  width: 100%;
  height: 2.0rem;
  padding: .14667rem .25333rem .14667rem .44rem;
  background: #fd9501;
  border-radius: .13333rem;
}
.dailyProfitRank__content-list__item span.left-rank[data-v-84514e8e] {
  margin-right: .41333rem;
  color: #fff;
  font-size: .8rem;
  font-weight: 600;
}
.dailyProfitRank__content-list__item img[data-v-84514e8e] {
  width: 1.06667rem;
  height: 1.06667rem;
  margin-right: .17333rem;
  border-radius: 50%;
}

.dailyProfitRank__content-list__item span.middle-name[data-v-84514e8e] {
  color: var(--text_color_L2);
  font-size: .8rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 7.66667rem;
}

.dailyProfitRank__content-list__item span.right-box[data-v-84514e8e] {
  line-height: .66667rem;
  width: 7.46667rem;
  height: .66667rem;
  margin-left: auto;
  color: #fff;
  font-size: .9rem;
  text-align: center;
  border-radius: 9rem;
  background: var(--main_gradient-color);
}



.dailyProfitRank__content-list__item img[data-v-84514e8e] {
  width: 1.06667rem;
  height: 1.06667rem;
  margin-right: .17333rem;
  border-radius: 50%;
}




.terms[data-v-4641417b] {
  border-radius: 0.26667rem;
  padding: 0.46667rem;
  margin-top: 0.53333rem;
  margin-bottom: 0.4rem;
  background: #fc9401;
  width: 94%;
  margin-left: 3%;
}
.terms-logo[data-v-4641417b] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin: 0.26667rem 0;
}
.terms-logo-left[data-v-4641417b] {
  width: 6.48rem;
  height: 2.53333rem;
}
.terms-logo-left img[data-v-4641417b] {
  width: 100%;
}
.terms-logo-service[data-v-4641417b] {
  display: block;
  width: 2.6rem;
  height: 2.6rem;
}
.terms-logo svg[data-v-4641417b],
.terms-logo img[data-v-4641417b] {
  width: 100%;
  height: 100%;
}
.terms-icons[data-v-4641417b] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-flex-wrap: wrap;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  margin-bottom: 0.66667rem;
}
.terms-icons svg[data-v-4641417b] {
  width: 4.8rem;
  height: 2.06667rem;
  margin-bottom: 0.21333rem;
}
.terms-rule[data-v-4641417b] {
  color: #fff;
  font-family: Inter;
  font-size: 0.7rem;
  font-style: normal;
  line-height: 0.98rem;
  font-weight: 400;
  margin-bottom: 0.4rem;
}
.terms-rule svg[data-v-4641417b] {
  width: 0.21333rem;
  height: 0.21333rem;
  vertical-align: middle;
  margin-right: 0.08rem;
}
.terms-rule span[data-v-4641417b] {
  vertical-align: middle;
}
.terms-tips[data-v-4641417b] {
  color: #ef1f1e;
  font-family: Inter;
  line-height: 0.98rem;
  font-size: 0.7rem;
  font-weight: 400;
  margin: 0.10667rem 0;
}

.settingPanel__container[data-v-0341cbde] {
  padding: 0 0.26667rem 0.13333rem;
  border-radius: 0.26667rem;
  width: 94%;
  margin-left: 3%;
  background: #fc9401;
}
/* .settingPanel__container.panel-default[data-v-0341cbde] {
  background: #2b3270;
} */
.settingPanel__container h1[data-v-0341cbde] {
  margin-bottom: 0.26667rem;
  color: #151515;
  font-size: 0.4rem;
}
.settingPanel__container-items[data-v-0341cbde] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
  flex-direction: column;
  color: #fff;
}
.settingPanel__container-items__item[data-v-0341cbde] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  justify-content: space-between;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  font-size: 1rem;
  font-weight: 600;
  height: 2.5rem;
  padding: 0.33333rem 0;
}
.settingPanel__container-items__item[data-v-0341cbde]:last-child:after {
  display: none;
}
.settingPanel__container-items__item img[data-v-0341cbde] {
  width: 1.4rem;
  height: auto;
  margin: 0 0.24rem 0 0;
}
.settingPanel__container-items__title[data-v-0341cbde] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: start;
  -webkit-justify-content: flex-start;
  justify-content: flex-start;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.settingPanel__container-items-right[data-v-0341cbde] {
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: end;
  -webkit-justify-content: flex-end;
  justify-content: flex-end;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
}
.settingPanel__container-items-right span[data-v-0341cbde] {
  font-size: 0.37333rem;
  padding-right: 0.4rem;
  color: #fff;
}
.settingPanel__container-items-right h5[data-v-0341cbde] {
  font-size: 0.32rem;
  color: #fff;
  border-radius: 0.42667rem;
  margin-right: 0.4rem;
  background: #fa5b5b;
  height: 0.42667rem;
  padding: 0 0.13333rem;
  display: -webkit-box;
  display: -webkit-flex;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
  align-items: center;
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
}
