:root {
    --main-bg-color: rgb(34 39 91);
    --bg-structure: #dadada;
    --second-bg-color: rgb(43 50 112);
    --second2-bg-color: rgb(43 50 112);
    --notice-bg-color: #fffbe8;
    --color-black: #000;
    --color-black2: #303133;
    --color-white: #fff;
    --color-gray: #959595;
    --bg-log-box: #4675D2;
    --bg-log-box2: #374992;
    --btn-bg: #2AAAF3;
    --btn-bg2: #2979F2;
    --bg-input: #323A7C;
    --bg-wallet-box : #2b3270;
    --text2-color: rgb(231, 249, 24);
  }
 .box[data-v-3966082f] {
    padding: .4rem
}

 .box .list[data-v-3966082f] {
    background: #fff;
    border-radius: .4rem;
    overflow: hidden
}
.box .list .van-list{
    background-color: var(--bg-wallet-box);
    color: #000;
    font-size: 0.8rem;
    padding: 5px;

}

 .box .list .item {
    padding: .8667rem .6rem;
    background: var(--color-white);
    margin-bottom: 1rem !important;
    line-height: 1.2rem;
    border-radius: 5px;
}
.box .list .item .time{
    font-size: 0.7rem !important;
    font-weight: 500;
}
.box .list .item .money{
    font-size: 0.8rem !important;
    font-weight: 500;
    color: #1fbd2c;

}

 .box .list .item .money[data-v-3966082f] {
    font-size: .4rem;
    color: #fb4e4e
}

 .box .list .item .money.action[data-v-3966082f] {
    color: #6abe57
}

 .box .list .item .number[data-v-3966082f],
 .box .list .item .time[data-v-3966082f] {
    font-size: .32rem;
    color: #000
}

 .box .list .item .number[data-v-3966082f] {
    font-size: .4rem
}

 .box .list .item .number .btn[data-v-3966082f] {
    padding: .13333rem .26667rem;
    font-size: .32rem;
    margin-left: .26667rem;
    border-radius: .13333rem;
    background-color: #ffce1f;
    color: #fff
}

 .box .list .item .state[data-v-3966082f] {
    text-align: center;
    font-weight: 600
}

 .box .list .item .txt[data-v-3966082f] {
    text-align: center
}